# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# --- CUSTOM ADDITIONS ---

# 1. Block the "Exploration" Data
*.csv
*.xlsx

!data/monthly_ae_activity_202404.csv
!data/opendata_monthly_ae_demographics_202404.csv


data/*
!data/monthly_ae_activity_202404.csv
!data/opendata_monthly_ae_demographics_202404.csv

# 2. Mac-specific system files
.DS_Store

# 3. PDFProtection
*.pdf
!code-report/A&E_Billy.pdf
